@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: black;
}

.hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%), url('/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}